@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --primary-color: rgb(70, 55, 245);
  --primary-color-50_100: rgb(70, 55, 245, 0.5);
  --scrollbar-thumb: rgb(105, 95, 220);
}

/* Reset box-sizing to border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

p {
  max-width: 600px;
}

/* For WebKit browsers (Chrome, Safari) */
/* Hide scrollbar track */
::-webkit-scrollbar-track {
  background-color: transparent;
  /* Transparent background */
}

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  /* Color of the scrollbar thumb */
  border-radius: 10px;
}

/* For Firefox */
/* Hide scrollbar track */
::-moz-scrollbar {
  background-color: transparent;
  /* Transparent background */
}

/* Style the scrollbar */
::-moz-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

/* Style the scrollbar thumb */
::-moz-scrollbar-thumb {
  background-color: #a0a0a0;
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Border radius of the scrollbar thumb */
}

/* Set default font styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

main {
  /* remove when page state updates - fuck css... */
  padding: 1rem;
  background: var(--primary-color);
  background: linear-gradient(90deg, white 0%, var(--primary-color) 100%);
  background: -moz-linear-gradient(90deg, white 0%, var(--primary-color) 100%);
  background: -webkit-linear-gradient(
    90deg,
    white 10%,
    var(--primary-color) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#4637F5", endColorstr="#FFFFFF", GradientType=1);
}

.h-full {
  height: 100vh;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove hyperlink styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove default button styles */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/* Remove default form field styles */
input,
textarea,
select {
  appearance: none;
  border-radius: 0;
  background: none;
  border: 1px solid #ccc;
  padding: 0.5em;
  font-family: inherit;
  font-size: inherit;
}

/* Remove default table styles */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 0.5em;
  border: 1px solid #ccc;
}

/* ! End of Resets ! */

/* Global Utils */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Hero Section */
section#hero__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

section#hero__wrapper > div {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#hero__wrapper > div span {
  opacity: 0;
  font-size: 3rem;
  font-weight: 800;
  color: white;
  position: absolute;
  transform: translateY(50%);
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* End of Hero Section */

/* Bio Section */
section#bio {
  display: none;
  /* Styles For when display: flex */
  /* height: 100vh; */
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

section#bio section {
  scroll-snap-align: start;
}

section#about {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: white;
  height: min-content;
  height: 100vh;
}

section#about div:nth-child(1) {
  width: 100%;
  /* gap: 1rem; */
}

section#about div:nth-child(1) h2 {
  font-size: 2.5rem;
}

section#about div:nth-child(1) p {
  font-size: 1.5rem;
  font-weight: lighter;
  letter-spacing: 2px;
}

section#about div:nth-child(1) > div:nth-of-type(1) {
  /* margin-bottom: 10px; */
  grid-column-start: 2;
  grid-column-end: 5;
  width: 100%;
  margin-left: 1rem;
}

section#about div:nth-child(1) > div:nth-of-type(1) h2 {
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: bold;
}

section#about div:nth-child(1) > div:nth-of-type(1) p {
  font-size: 1.3rem;
  font-weight: lighter;
  letter-spacing: 1px;
}

div#testimonials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

article.testimonial {
  font-size: 1.1rem;
  color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

article.testimonial > p:nth-child(1) {
  margin-bottom: 12px;
  font-style: italic;
  min-width: 0;
}

article.testimonial > p:nth-child(2) {
  text-align: right;
}

section#experience {
  height: 100vh;
}

.experience__anchor {
  display: flex;
  justify-content: center;
}

a[href="#experience"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  font-size: 1.2rem;
  margin-top: 2rem;
}

a[href="#experience"]:hover {
  cursor: pointer;
}

.icon {
  max-width: 4rem;
  height: 2rem;
  width: 10rem;
  display: flex;
  fill: white;
  /* We could use it as a stroke fill too:
  stroke: url(#gradient-horizontal) gray; */
  animation: bounce2 2s ease infinite;
}

@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* Animations & Keyframes */
.fade-in {
  opacity: 1 !important;
}

@keyframes bioFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0%);
  }

  to {
    opacity: 0;
    transform: translateY(-50%);
  }
}

/* --------------------------------- */
/* Responsive Design */
@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
